@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px 60px 0px 20px;
  background-color: whitesmoke;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6rem;

}

footer {
  margin: 10px 0px 20px 0px;
}

.imagenes{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: flex-start;
}

.imagen{
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10%;

}

.imagen:not(:last-child){
  margin-right: 2rem;
}

.imagen__imagen{
  width: 100%;
  height: 5rem;
}

.imagen__titulo{
  text-align: center;
  font-weight: 300;
}

.boton{
  padding: .8rem 2.5rem;
  font-family: inherit;
  font-weight: 700;
  background-color: #c7c7c7;
  cursor: pointer;
}

.paquetes{
  display: flex;
}

.paquete{
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    width: 20%;
}

.paquete:not(:last-child){
  margin-right: 3rem;
}

.paquete__titulo{
  background-color: #c7c7c7;
  padding: 2rem;
  margin-top: 0;
}

.hotel__img{

  width: 60%;
  height: 16rem;
  margin: 0;
  margin-bottom: 2rem;
}

.hotel__titulo{
  margin: 2rem auto;
  font-size: 1.8rem;
}

.hotel__subtitulo{
  padding: 1rem 0;
  border: #c7c7c7 1px solid;
}
